<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :origen %><br>
    <%= f.text_field :origen %>
  </div>
  <div class="field">
    <%= f.label :destino %><br>
    <%= f.text_field :destino %>
  </div>
  <div class="field">
    <%= f.label :horario_salida %><br>
    <%= f.datetime_select :horario_salida %>
  </div>
  <div class="field">
    <%= f.label :duracion_aprox %><br>
    <%= f.text_field :duracion_aprox %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
